/* .signup-modal-container{
    display: flex;
    flex-direction: column;
} */
.signup-form{
    display: flex;
    flex-direction: column;
    padding: 0px 60px 20px 60px;
}

.signup-header{
    display: flex;
    justify-content: center;
}

.signup-input{
    padding-right: 250px;
}

.signup-button{
    padding: 8px;
    box-shadow: 2px 2px 5px grey;
    margin-top: 10px;
    align-content: center;
    background-color: rgb(168, 209, 214);
}

.signup-label{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

