body{
    background-color: rgb(230, 249, 255);
}

.tile-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.spot-tile{
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    text-decoration: none;
    color: rgb(74, 74, 74);
}
.spot-img{
    width: 100%;
    height: 75%;
    border-radius: 10px;
}

.spot-text{
    height: 22%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.spot-location-rating{
    justify-content: space-between;
    display: flex;
    padding: 0 15px 0 15px;
}
.spot-location{
    font-weight: bold;
}

.spot-price{
    padding: 0 15px 0 15px;
    margin: 0;
}
